# Welcome to Python!

This is Jupyter Notebook.
A Jupyter Notebook is an **open source** web-based interactive computing platform.
It combines:
- live code
- equations
- narrative text (*like this one*)
- visualizations
It is often used to **create** and **share** computational documents.

We will use it to guide you in your first steps in Python.

In a Jupyter Notebook you can create cells, that is, individual groups of content. The two types of cell you can create are:
**Markdown** and **Code**

Here you can find out more about the project: __[Jupyter.org](https://jupyter.org)__

### What is Markdown?

**Markdown** is a markup language used to add formatting elements to plaintext.

Markup Language? A markup language is simply a system of encoding text by adding a set of symbols to it to control its structure, formatting, display, and/or enrich the content.

this is a markdown cell. if you run it you can see that the formatting features will be displayed and the symbols will disappear.
*this will be a sentence in italics*
**this will be a sentence in bold**
### and this will be a subheading

-------------------
## Now let's try coding.

The code bellow will be your first line of coding in python. Try to run it.

In [1]:
print('Hello World!')

Hello World!

This is traditionally used in programming, particularly in introductory phases. It is a simple program that displays or *prints out* the sentence "Hello World!". Your first program is greeting us all. =)



---



---

### Documentation

Documentation in programming is a material that describes how a software works.
Documenting is a very important step in programming *even when you write a code for your own personal use*. 
Normally, the documentation is written in a readme text file that accompanies the program it refers to.

[Here](https://docs.python.org/3/) you can read through python's documentation.

You can also access python's documentation directly from your code:

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

By using the built-in help() function, you can access the documentation to clarify the use of something.

Another way of doing that here in the Notebook is the following:

In [3]:
?print



---



---

## Comments

You can also add comments directly to your code. This helps making your code more readable for yourself and also for other people.
Comments are written in two ways:
1. Either by adding a hashtag before the comment


```
# This is a comment
print("this is not a comment")
```
2. Or by adding quotation marks before and after your comment, these can be either single quotation marks (') or double (").


```
'This is a comment'
```
In other words, you can write comments as *string literals* as long as you do not assign them to any variables.
You can also write long comments that span through many lines.


```
'''This is a very,
very, very long comment
that I wrote to clarify
my code. We call it a
multi-line comment'''
```
Print the code below and observe what happens.

In [4]:
''' My first code is a program that greets the whole
world. It uses a print function to output my message. And
I use this comment to explain what my code does at the very beginning.'''

print('Hello, World!') # prints 'Hello, World!'

Hello, World!

In the code above, the only executed command was print().
The code ignored all that was marked as a comment, it is not useful for the machine. It is very useful for the reader of your code, this could be your future self, other researchers or reviewers.

We can also use comments to tell the machine to ignore certain lines of code. We can *comment out* certain parts of the code that we do not want to execute at this moment, but want to keep at hand in a specific part of our script.
Try editing the code below to obtain different results:

In [9]:
#print('Hey, World!')
#print('Hey, everyone!')
#print('1234')

In the following cell we have three lines of comment:


```
# Some calculations
# 5+16
# 16/2
```

We can also use the # to **comment out** pieces of code that we do not want to be active right now.
I can choose to remove these #s to execute the calculations below, try that.

In [10]:
# Some calculations
#5+16
#16/2



---



---

## Variables

A variable in python is a name that we give to an object we want to store. 
Variables are very useful when we perform different operations on the same object.
We can define a variable in the following way:


```
my_variable = 10
```
We first define a name for the variable, then use the equal sign (=) to assign a value that comes to the right of the sign.
Now, I asked my program to store the value 10 for me under the name 'my_variable'. This value is going to be stored somewhere in the memory of my computer and I can access it anytime by calling the name 'my_variable'.
Try running the following lines of code to see what happens.

In [11]:
my_variable = 10 # saves the value 10 in the variable x

In [12]:
my_variable

10

Now try performing some calculations with our variable.

In [13]:
# A couple of operations using our variable

my_variable+10
#160/my_variable

20

If I forget the name of my variable and type something else, the program will not work. 
Run the following line:

In [14]:
myvariable

NameError: ignored

The output is an error. The program cannot call the variable because it was not defined. In other words, I never told it to keep any information under that name, therefore, it cannot give me anything back when I call for it.

### Variable names

There are rules for naming variables in Python. This is necessary to avoid ambiguity.

**Main rules:**
- A variable name must start with a letter or the underscore character
  >**_myvariable** and **my_variable** are allowed names for variables
- A variable name cannot start with a number
  > **1variable** is not allowed, but **variable1** is.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
  > ***my+variable** is not allowed.
- Variable names are case-sensitive 
  > **age**, **Age** and **AGE** are three different variables

[Source: W3Schools](https://www.w3schools.com/python/python_variables_names.asp)

**Other important rules are:**
- Never name your variables upper case I or o, O. For these can be mistaken by 1 or 0 by the reader.
- Do not overwrite built-in names

>![renamebuiltin.PNG]()

This is what would happen if we replace the built-in name print with our variable. 

**Good Practices for naming variables:**

- Use descriptive names that inform you about the content of the variable
  > **variable1**, **variable2** are very vague
- Find a good compromise between too long and too short names
  >**namesofthepeopleonthedocuments** is too long and **names** does not really inform the reader, but **people_names** could be a good alternative.

You can also mix capitalization and the use of underlines to define your variables:
Ex: peoplenames, PeopleNames, peopleNames, people_names

We had assigned the value 10 to our variable **my_variable**. If we assign a new value to the same variable, we are replacing the former value.
See what happens if you run the following code.

In [15]:
my_variable=9
my_variable+10

19

Now, my_variable + 10 is no longer 20, but 19.



---



---

## Python Data Types

So far we have been dealing mainly with numbers, but there are other formats of information we can work with in Python. We will now look over the different **data types** that we can work with.

**1) Integer**

Integers are whole numbers, such as 7, 59 or 10000000051.

**2) Float**

Floats are fractions of numbers, such as 7.5 or 0.56.
Note that floats are represented with a dot and not a comma.

**3) String**

Simply put, strings are text data, that is a collection of characters. These characters can be alphanumeric or punctuation. This means that 80 can be a integer or a string - it depends on how we want to interpret it.

When we printed 'Hello, World!', we were printing a string. 

In Python, we represent strings by enclosing our characters within single (') or double (") quotation marks. Like this:


```
'Hello, World!' or "Hello, World!"

```



**4) List**

Lists are ordered sequences of elements. In Python we represent lists by enclosing elements separated by commas within squared brackets. Like this:


```
numbers_list = [1,2,3,4,4,5]
words_list = ['Vaxxed','Variant','Languishing','Hybrid work','the great resignation']
```

**5) Tuple**

A tuple is a collection of elements separated by commas. In Python, tuples are represented by enclosing elements separated by commas within parenthesis. Like this:


```
my_tuple = ('databases','digital','humanities')
```

**6) Range**

A range is a sequence of numbers. In Python we define ranges by calling the function range with the following parameters separated by commas: the **start value**, the **stop value** and the **step value**. Like this:


```
range(start, stop, step)
```
start: the initial value

stop: the final value

step: the interval between values, the default value for this is 1. That means that if you do not inform the step value, the program will interpret it as 1.

Let's look at an example:

```
range(0,101,10)
```
This will create the following sequence: 0 10 20 30 40 50 60 70 80 90 100
```
range(0,10,)
```
This will create the following sequence: 0 1 2 3 4 5 6 7 8 9


**7) Dictionary**

Simply put, a dictionary in Python is a set of key-value pairs. In other words it is an arrangement of coupled data, one element being the key and the other the corresponding value.

For example, a dictionary of language abbreviations:
```
languageAbbr = {'es':'spanish', 'en':'english', 'de':'deutsch', 'pt':'portuguese'}
```
Or a dictionary of tools:
```
my_dict = {'python':'python is a programming language',
           'Access':'access is a database management system'}
```
And even the ingredients of a recipe:
```
bratkartoffeln = {'Kartoffeln':600, 'Zwiebeln':125,'Öl':27}
```

**8) Boolean values**

Boolean values are used to represent the truth of an operation. The possible values are **True** and **False**.

```
5 > 10
False
```
But
```
5 < 10
True
```




We will see some of these data types and their properties and operations in more detail below.

### **1,2) Integer and Float**

Let's look at some operations that you can do with integers and floats in python.
If you want to know more, check the documentation [here](https://docs.python.org/3/library/stdtypes.html)

In [ ]:
4 + 7 # Sum of two integers

11

In [ ]:
4 + 2.5 # Sum of integer and float

6.5

In [ ]:
55-35 # Difference between two integers

20

In [ ]:
25 * 25 # product of two integers

625

In [ ]:
25/10 # Quotient of two integers

2.5

In [ ]:
25//10 # Remainder of 25/10

2

### **3) String**
Now, let's look at some built-in functions for working with strings in Python.

See: __[Python String Methods](https://www.w3schools.com/python/python_ref_string.asp)__

**Replace**

We can replace characters in a string with the .replace() function.

`string.replace(oldvalue, newvalue, count)`

**old value** is the sequence of charactes that will be replaced

**new value** is the new sequence of characters that will be included

**count** count is the number of times the replacement will take place, from the beginning of the sentence (left to right). The default value for the count is all occurrences, meaning that all old values will be replaced by new values.

In [ ]:
sentence = "When Mr. Bilbo Baggins of Bag End announced that he would shortly be celebrating his eleventy-first birthday with a party of special magnificence, there was much talk and excitement in Hobbiton."
print(sentence)

When Mr. Bilbo Baggins of Bag End announced that he would shortly be celebrating his eleventy-first birthday with a party of special magnificence, there was much talk and excitement in Hobbiton.

Now let's replace 'eleventy-first' with '111th'.

In [ ]:
sentence.replace('eleventy-first','111th')

'When Mr. Bilbo Baggins of Bag End announced that he would shortly be celebrating his 111th birthday with a party of special magnificence, there was much talk and excitement in Hobbiton.'

We can try replacing some spaces in our sentence.

In [ ]:
sentence.replace(' ','_',5) # try changing the count to see what happens

'When_Mr._Bilbo_Baggins_of_Bag End announced that he would shortly be celebrating his eleventy-first birthday with a party of special magnificence, there was much talk and excitement in Hobbiton.'

 Now in our story below there are some misspellings, let's try to correct them.

In [ ]:
story = "Alice was beginning to get very tired of sitting by her sitser on the bank, and of having nothing to do: once or twice she had peeped into the bok her sister was reading, but it had no pictures or conversations in it, 'and what is the use of a bok,' thought Alce 'without pictures or conversations?'"
print(story)

Alice was beginning to get very tired of sitting by her sitser on the bank, and of having nothing to do: once or twice she had peeped into the bok her sister was reading, but it had no pictures or conversations in it, 'and what is the use of a bok,' thought Alce 'without pictures or conversations?'

We can apply the replace method several times after each other.

In [ ]:
story.replace('sitser','sister').replace('bok','book').replace('Alce','Alice')

"Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, 'and what is the use of a book,' thought Alice 'without pictures or conversations?'"

Now let's look at our story again...

In [ ]:
print(story)

Alice was beginning to get very tired of sitting by her sitser on the bank, and of having nothing to do: once or twice she had peeped into the bok her sister was reading, but it had no pictures or conversations in it, 'and what is the use of a bok,' thought Alce 'without pictures or conversations?'

Did you notice how the story still has all the mistakes? 

That happens because we did not save our new story again in the variable. We need to assign the new corrected value to our **story** variable.

In [ ]:
story = story.replace('sitser','sister').replace('bok','book').replace('Alce','Alice')
print(story)

Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, 'and what is the use of a book,' thought Alice 'without pictures or conversations?'

Let's look at other methods...

**Count**

Counts the number of occurrences of a value in a string.

`string.count('value')`

In [ ]:
story.count('Alice')

2

**Find**

Finds the location of a specific value in a string.

`string.find('value')`

In [ ]:
country = 'germany' # we five the value 'Germany' to the variable country

country.find('e')

1

The result was 1, meaning that this is the second character in the string.

**Indexes in Python start at 0**

**g** index 0<br>
**e** index 1<br>
**r** index 2<br>
**m** index 3<br>
**a** index 4<br>
**n** index 5<br>
**y** index 6<br>

To access the index of an object we use the following syntax:

`object[index]`

In our case this would be:



```
country[1]
e
```



let's test this:

In [ ]:
country[3] # the result should be 'm'

We can also **count** the number of characters in a string.

`len(string)`

In [ ]:
len(country)

7

The result is 7, that is the total of characters in 'Germany'. When we are counting or doing calculations, we do not need to start at 0.

In [ ]:
len('Spaces are also counted, as are punctuation characters!')

55

**Split**

We can divide a string on a specific character using the method split.

`string.split(separator,maxsplit)`

**separator**: specifies the separator to be used for splitting the string. The default value is a whitespace, this means that if you do not specify a value, the string will be split at whitespaces.

**maxsplit**: specifies the number of times to perform a split. The default value is all occurrences.

In [ ]:
bratkartoffeln = 'kartoffeln,öl,salz,pfeffer,zwiebeln'

In [ ]:
bratkartoffeln.split(',') # splits at every comma

['kartoffeln', 'öl', 'salz', 'pfeffer', 'zwiebeln']

In [ ]:
bratkartoffeln.split(',', 2) # splits on the first 2 commas

['kartoffeln', 'öl', 'salz,pfeffer,zwiebeln']

In [ ]:
bratkartoffeln.split() # splits at every whitespace, but there are none

['kartoffeln,öl,salz,pfeffer,zwiebeln']

The result of a split is a list and the lenght of this list is the number of separators (or maxsplit, if defined) plus one.

**Formatting methods**

There are also methods which are used for formatting the string.
In our **country** string we have the name of a country, but that should be capitalized. Let's fix that.

In [ ]:
country.capitalize()

'Germany'

We can also format the string with uppercase.

In [ ]:
country.upper()

'GERMANY'

In our **Bratkartoffeln** string, the nouns should all be capitalized. To fix that we can use the method `.title()`

This method capitalizes the first letter of every word in the string.

In [ ]:
bratkartoffeln.title()

'Kartoffeln,Öl,Salz,Pfeffer,Zwiebeln'

We can also add strings. This means that our strings will be put one after the other, forming a new, longer string.

In [ ]:
recipe = 'Kartoffeln'+','+'500g'+','+'Öl'+','+'1 EL'+','+'Salz'+','+'1 TL'+','+'Pfeffer'+','+'1/2 TL'+','+'Zwiebeln'+','+'75g'

print(recipe)

Kartoffeln,500g,Öl,1 EL,Salz,1 TL,Pfeffer,1/2 TL,Zwiebeln,75g

#### F-strings

F-strings are used in Python to display **variables** and execute short actions within a string. We denote an f-string by adding an f before the string. The syntax of an f-string is the following:



```
f"This is a string with a {variable}"
OR
f'This is a string with a {variable}'
```

Note that we indicate what should not be interpreted as a string by enclosing it in curly brackets {}.

In [ ]:
a = 1
b = 10
c = 'soccer'

print(f'In {c} there are {10} players in line plus {a} goalkeeper. \n In total there are {a+b} players')

# \n in a string adds a line break. This is true for strings and f-strings

In soccer there are 10 players in line plus 1 goalkeeper.
 In total there are 11 players

### **4) List**

Now let's see what we can do with lists. We can create a list by splitting our **recipe** string on the commas.

See: [List/Array methods](https://www.w3schools.com/python/python_ref_list.asp)

In [ ]:
recipe_list = recipe.split(',')

In [ ]:
print(recipe_list)

['Kartoffeln', '500g', 'Öl', '1 EL', 'Salz', '1 TL', 'Pfeffer', '1/2 TL', 'Zwiebeln', '75g']

Now we have a list with all our ingredients and quantities. But I forgot to add bacon. To add another element to our list we use the method `list.append(newelement)`

In [ ]:
recipe_list.append('Bacon')
print(recipe_list)

['Kartoffeln', '500g', 'Öl', '1 EL', 'Salz', '1 TL', 'Pfeffer', '1/2 TL', 'Zwiebeln', '75g', 'Bacon']

Note that, differently than with the modified strings, the list did not have to be saved again in the variable **recipe_list** for the change to take effect. That happens because lists are *mutable*, that is, they can be modified.

We added our new ingredient in the wrond language, let's fix that by assigning a new value to that element.

In [ ]:
# First we need to find the index of 'Bacon'
recipe_list.index('Bacon')

10

In [ ]:
# Now we can use the index to attribute a new value to that location
recipe_list[10] = 'Speck'

In [ ]:
# Let's see if it works:

print(recipe_list)

['Kartoffeln', '500g', 'Öl', '1 EL', 'Salz', '1 TL', 'Pfeffer', '1/2 TL', 'Zwiebeln', '75g', 'Speck']

In [ ]:
# If i change my mind, I can remove the item
recipe_list.remove('Speck')
print(recipe_list)

['Kartoffeln', '500g', 'Öl', '1 EL', 'Salz', '1 TL', 'Pfeffer', '1/2 TL', 'Zwiebeln', '75g']

To see what else we can do with lists, let's create a list with the countries in the European Union.

In [ ]:
countriesEU = ['Austria',
 'Spain',
 'Denmark',
 'Lithuania',
 'Ireland',
 'Croatia',
 'Poland',
 'Luxembourg',
 'Czech Republic',
 'Hungary',
 'Slovakia',
 'Italy',
 'Republic of Cyprus',
 'Romania',
 'Bulgaria',
 'Latvia',
 'France',
 'Greece',
 'Sweden',
 'Malta',
 'Netherlands',
 'Belgium',
 'Slovenia',
 'Finland',
 'Germany',
 'Estonia',
 'Portugal']

We can put our list in alphabetical order.

In [ ]:
countriesEU.sort()
print(countriesEU)

['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Republic of Cyprus', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']

We can also sort it in reverse order.

In [ ]:
countriesEU.sort(reverse=True)
print(countriesEU)

['Sweden', 'Spain', 'Slovenia', 'Slovakia', 'Romania', 'Republic of Cyprus', 'Portugal', 'Poland', 'Netherlands', 'Malta', 'Luxembourg', 'Lithuania', 'Latvia', 'Italy', 'Ireland', 'Hungary', 'Greece', 'Germany', 'France', 'Finland', 'Estonia', 'Denmark', 'Czech Republic', 'Croatia', 'Bulgaria', 'Belgium', 'Austria']

### **7) Dictionary**

Now let's look at the methods we can use for dictionaries.

See [Dictionary Methods](https://www.w3schools.com/python/python_ref_dictionary.asp)

First, we create a dictionary. To create a dictionary we follow the syntax below:


```
{key1:value,key2:value}
```

In [ ]:
languageAbbr = {'es':'spanish', 'en':'english', 'de':'deutsch', 'pt':'portuguese'}

In [ ]:
languageAbbr['es'] # get the value of the specified key, the key functions as an index

'spanish'

In [ ]:
languageAbbr.values() # gets all the values of the dictionary

dict_values(['spanish', 'english', 'deutsch', 'portuguese'])

In [ ]:
languageAbbr.items () # gets all the pairs key,value in the dictionary

dict_items([('es', 'spanish'), ('en', 'english'), ('de', 'deutsch'), ('pt', 'portuguese')])

### **8) Boolean values**

There are two possible boolean values: True or False.

In [ ]:
5 > 1

True

In [ ]:
5 < 1

False

**Boolean Operators**

We can use logical operators to evaluate statements, we call these boolean operators.

They are:
AND
NOT
OR

**AND**

In [ ]:
5 > 1 and 5 > 2 # true and true equals true

True

In [ ]:
5 > 1 and 5 > 6 # true and false equals false

False

**NOT**

In [ ]:
not 5 > 1 # not true equals false

False

In [ ]:
not 5 > 10 # not false equals true

True

**OR**

In [ ]:
5 > 1 or 5 > 6 # true or false equals true

True

In [ ]:
5 > 1 or 5 > 3 # true or true equals true

True

In [ ]:
5 > 10 or 5 > 16 # false or false equals false

False



---



---

## Casting

You can also determine the type of the data stored in a variable. You can do this with casting. 

We can define a type string onto an integer:
```
my_variable = str(4)
```
Or a type integer onto an string of digits:
```
my_variable = int('125')
```

See more: [Casting](https://www.w3schools.com/python/python_casting.asp)

Let's try to find an application for this.

According to our Bratkartoffeln recipe, we should use 500g of potatoes.

In [ ]:
kartoffeln = "Kartoffeln,500g"
kartoffeln_qt = kartoffeln.split(',') # first we split the ingredient and the quantity
print(kartoffeln_qt)

['Kartoffeln', '500g']

The result is a list of two elements:

kartoffeln_qt[0] is 'Kartoffeln'

kartoffeln_qt[1] is '500g'

Remember that indexes start at 0.
We want to access the second element of our list, '500g', but we need to get rid of this letter g.

In [ ]:
# We can use .split() for that
kartoffeln_qt = kartoffeln_qt[1].replace('g','') # replace 'g' by nothing
# What is the result?
print(kartoffeln_qt)
type(kartoffeln_qt)

500

str

We obtained the result we wanted!

But if we want to make calculations, for example what would the quantities be if we want to double the recipe, we need to cast an integer type to our quantity.

In [ ]:
kartoffeln_qt = int(kartoffeln_qt)
type(kartoffeln_qt)
# int

## Indexing

Indexes are used to identify an element by its position. Indexes in Python start at 0, this means that the first element will have the index 0.

In a list of 10 elements, the last element will have, therefore, the index 9.

## Slicing

Slicing in Python is a method that accesses parts of sequences.

Slicing can be applied to strings (a sequence of characters), lists and tuples.

See more: [Slicing Strings](https://www.w3schools.com/python/python_strings_slicing.asp), [Understanding Slicing](https://stackoverflow.com/questions/509211/understanding-slicing)

Slicing Strings

In [ ]:
world = "Hello, World!"1

# Slicing [start:stop]
world[7:12]

'World'

In [ ]:

# Slicing from the beginning of the string [:stop]
world[:5]

'Hello'

In [ ]:
# Slicing to the end of the string [start:]
world[7:]

'World!'

In [ ]:
# Negative slicing [start:-number of characters to remove]
world[:-5]

'Hello, W'

Slicing lists

In [ ]:
my_list = [0,1,2,3,4,5,6,7,8,9]

my_list[5:]

[5, 6, 7, 8, 9]

In [ ]:
my_list[5:7]

[5, 6]

In [ ]:
my_list[:-5]

[0, 1, 2, 3, 4]

## Inputs from the user

You can also ask the user to give information to your program, for that we use input(). See how it works below:

In [ ]:
name = input("What's your name?")

What's your name?Fernanda

In [ ]:
print(f"Hi, {name}! Nice to meet you!")
#print(f"Hi, {name.upper()}! Nice to meet you!")

Hi, Fernanda! Nice to meet you!

## Loops

A **for loop** is used to iterate over items in a sequence.
It is written in Python according to the following syntax:



```
for unit in sequence:
  action
```

Note that in the second line of the code above the **action** is not written at the beginning of the line. **action** is indented. Indentations are spaces/tabulations used to indicate a **block of code**.
In practice, this means that all the indented code written after the statement `for unit in sequence:` belongs to the loop.

Let's see in practice how that works:


See more: [For loops](https://www.w3schools.com/python/python_for_loops.asp)

In the following code we have two for loops. This is what they do:

1) the first loop prints every element in the list

2) the second loop prints every character in the string (which is the element of the loop)

In [ ]:
my_list = ['one','two','three','four','five']
for x in my_list:
  print(x) # one indentation, belongs to the 1st loop
  for y in x: # one indentation, belongs to the 1st loop
    print(y) # two indentations, belongs to the 2nd loop
print(my_list) # does not belong to any loop

## Conditional statements

You can use 'if-statements' to tell your program to act according to the conditions you define. The syntax of the contidional statements is the following:


```
if condition1:
  action1
elif condition2:  # (optional)
  action2 
else: #if no conditions are met (optional)
  action3 
```

The conditions can follow logical conditions:

- equals ==
- not equals !=
- less than <
- less than or equal to <=
- greater than >
- greater than or equal to >=

See more: [Conditional Statements](https://www.w3schools.com/python/python_conditions.asp)

In [ ]:
if 5>10: 
  print('True')
else:
  print('False')

# try changing the values in the statement to see different results

False

In [ ]:
fruits = ['orange','banana','cherry','papaya']

for fruit in fruits:
  if fruit == 'papaya':
    print('I dont like papaya')
  else:
    print(f'Hmm, I like {fruit}')

Hmm, I like orange
Hmm, I like banana
Hmm, I like cherry
I dont like papaya

We can also use if-statements to check whether something is present in a sequence and then perform an action:

In [ ]:
words = ['This','is','a','list','of','strings','.']
if 'list' in words:
    for word in words:
        print(word)

This
is
a
list
of
strings
.

In the example above, the elements of the list 'words' are only printed if the string "list" is present.

In [ ]:
if 'Hobbit' in sentence: # the variable sentence was define in the section "3) string"
    print("That's Lord of the Rings!")

That's Lord of the Rings!

In the second example we have, the method print() is only executed if the word 'Hobbit' is present in the variable sentence.

## Functions

A function is a sequence of actions which are performed whenever it is called. We use functions to avoid repeating code. If there is a sequence of actions you have to perform several times, it is better to create a function and call upon it whenever this series of actions needs to be performed.

The syntax is the following:



```
def functionname(argument1, argument2,...):
  action
  action
  return variable # (optional)
```



See more: [Functions](https://www.w3schools.com/python/python_functions.asp)

In [ ]:
def mycalculator(a,b):
  return a+b

In [ ]:
mynumber = mycalculator(1,2)

In [ ]:
print(mynumber)

3

In [ ]:
def count_letters(name):
  # this function counts the letters of any name
    count = len(name)
    return count

In [ ]:
count_letters('Fernanda')

8

In [ ]:
# now try using the function count_letters() to count the letters of your name
count_letters()

If I add my full name, this function will also count the spaces. Let's fix that.

In [ ]:
def lettersofname(name):
  if ' ' in name:
    name = name.replace(' ','') # this action is only performed if there are spaces
  count = len(name) # this is not part of the if statement
  return count

In [ ]:
# Testing it
lettersofname('Fernanda Alvares Freire') # the result should be 21

21

Remember the Alice story? We can create a function to fix it as well.

In [ ]:
story = """Alice was beginning to get very tired of sitting by her sitser on the bank, 
and of having nothing to do: once or twice she had peeped into the bok her sister was reading, 
but it had no pictures or conversations in it, 'and what is the use of a bok,' thought Alce 
'without pictures or conversations?'"""

In [ ]:
misspellings = {'sitser':'sister','bok':'book','Alce':'Alice'}

def correctstory(story,dictionary):
  for key, value in dictionary.items():
    story = story.replace(key, value)
  print(story)

In [ ]:
correctstory(story,misspellings)

Alice was beginning to get very tired of sitting by her sister on the bank,
and of having nothing to do: once or twice she had peeped into the book her sister was reading,
but it had no pictures or conversations in it, 'and what is the use of a book,' thought Alice
'without pictures or conversations?'

#### Debugging

In [ ]:
# Debugging

""" When you come across an error, read the error message to figure out what
went wrong. Notice that the error message points exactly at the line where the
error occurred."""

print(nname)

NameError: name 'nname' is not defined